@font-face {
  font-family: Broya;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/bekrWeb/Broya.ttf') format('truetype');
}
@font-face {
  font-family: Bnazanin;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/bekrWeb/Bnazanin.ttf') format('truetype');
}
@font-face {
  font-family: IRYekanBold;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/bekrWeb/IRYekanBold.ttf') format('truetype');
}
@font-face {
  font-family: Tanha;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/bekrWeb/Tanha.woff') format('woff');
}
@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/bekrWeb/Vazir.woff') format('woff');
}
@font-face {
  font-family: Yekan;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/bekrWeb/Yekan.woff') format('woff');
}
/** IransSansX **/
@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/bekrWeb/IRANSansX-Bold.woff2') format('woff2');
}
@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/bekrWeb/IRANSansX-Bold.woff2') format('woff2');
}
@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/bekrWeb/IRANSansX-Regular.woff2') format('woff2');
}
/** IransSans **/
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/bekrWeb/IRANSansWeb_Black.woff2') format('woff2');
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/bekrWeb/IRANSansWeb_Bold.woff2') format('woff2');
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/bekrWeb/IRANSansWeb_Medium.woff2') format('woff2');
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/bekrWeb/IRANSansWeb_Light.woff2') format('woff2');
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/bekrWeb/IRANSansWeb_UltraLight.woff2') format('woff2');
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/bekrWeb/IRANSansWeb.woff2') format('woff2');
}
/** non English **/
@font-face {
  font-family: IRANSansNonEnglish;
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/bekrWeb/IRANSansWeb(NoEn)_Black.woff2') format('woff2');
}
@font-face {
  font-family: IRANSansNonEnglish;
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/bekrWeb/IRANSansWeb(NoEn)_Bold.woff2') format('woff2');
}
@font-face {
  font-family: IRANSansNonEnglish;
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/bekrWeb/IRANSansWeb(NoEn)_Medium.woff2') format('woff2');
}
@font-face {
  font-family: IRANSansNonEnglish;
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/bekrWeb/IRANSansWeb(NoEn)_Light.woff2') format('woff2');
}
@font-face {
  font-family: IRANSansNonEnglish;
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/bekrWeb/IRANSansWeb(NoEn)_UltraLight.woff2')
    format('woff2');
}
@font-face {
  font-family: IRANSansNonEnglish;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/bekrWeb/IRANSansWeb(NoEn).woff2') format('woff2');
}
/** monoSpaced **/
@font-face {
  font-family: IRANSansMonoSpaced;
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/bekrWeb/IRANSansMonoSpacedNum_Black.woff') format('woff');
}
@font-face {
  font-family: IRANSansMonoSpaced;
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/bekrWeb/IRANSansMonoSpacedNum_Bold.woff') format('woff');
}
@font-face {
  font-family: IRANSansMonoSpaced;
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/bekrWeb/IRANSansMonoSpacedNum_Medium.woff') format('woff');
}
@font-face {
  font-family: IRANSansMonoSpaced;
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/bekrWeb/IRANSansMonoSpacedNum_Light.woff') format('woff');
}
@font-face {
  font-family: IRANSansMonoSpaced;
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/bekrWeb/IRANSansMonoSpacedNum_UltraLight.woff')
    format('woff');
}
@font-face {
  font-family: IRANSansMonoSpaced;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/bekrWeb/IRANSansMonoSpacedNum.woff') format('woff');
}
/** Fa Num **/
@font-face {
  font-family: IRANSansFaNum;
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/bekrWeb/IRANSansWeb(FaNum)_Black.woff2') format('woff2');
}
@font-face {
  font-family: IRANSansFaNum;
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/bekrWeb/IRANSansWeb(FaNum)_Bold.woff2') format('woff2');
}
@font-face {
  font-family: IRANSansFaNum;
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/bekrWeb/IRANSansWeb(FaNum)_Medium.woff2') format('woff2');
}
@font-face {
  font-family: IRANSansFaNum;
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/bekrWeb/IRANSansWeb(FaNum)_Light.woff2') format('woff2');
}
@font-face {
  font-family: IRANSansFaNum;
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/bekrWeb/IRANSansWeb(FaNum)_UltraLight.woff2')
    format('woff2');
}
@font-face {
  font-family: IRANSansFaNum;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/bekrWeb/IRANSansWeb(FaNum).woff2') format('woff2');
}
