/* fonts */
body {
  font-family: IRANSans !important;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  font-family: IRANSans !important;
}
h1 {
  font-weight: bold;
}
/* fonts */

.redWarning {
  /* text-decoration: underline; */
  color: red;
  font-weight: bold;
}

/* bekr style */
.bekrTitrFanum1 {
  font-family: bnazanin !important;
  font-size: 25px;
  /* color: black; */
  @apply text-gray-900;
  font-weight: 700;
  text-indent: 5px;
}
.bekrTitr1,
h1 {
  font-family: yekan !important;
  font-size: 25px;
  /* color: black; */
  @apply text-gray-900;
  font-weight: 700;
  text-indent: 5px;
}
.bekrMatn1 {
  color: black;
  font-weight: 600;
  font-size: 17px;
  text-align: justify;
  margin-right: 25px !important;
  margin-left: 30px !important;
  text-indent: 20px;
}
.bekrTitr2,
h2 {
  font-family: yekan !important;
  font-size: 23px !important; /*important to override vitepress default*/
  color: darkBlue;
  font-weight: 600 !important; /*important to override vitepress default*/
  text-indent: 25px;

  margin: 0 0 0 0 !important; /*override vitepress default*/
  /* border-top: none !important;  */
  /*override vitepress default*/
  padding-top: 2px !important;
}
.bekrMatn2 {
  color: black;
  font-weight: 500;
  font-size: 16px;
  text-indent: 20px;
  text-align: justify;
}

.bekrMatn2,
.bekrMargin2 {
  margin-right: 50px !important;
  margin-left: 30px !important;
}
.VPLink.link,
.bekrTitr3,
h3 {
  font-family: yekan !important;
  font-size: 21px;
  color: #0000cd;
  font-weight: 600;
  text-indent: 50px;
}
.bekrMatn3 {
  color: black;
  font-weight: 500;
  font-size: 15px;
  text-indent: 20px;
  text-align: justify;
}
.bekrMatn3,
.bekrMargin3 {
  margin-right: 75px !important;
  margin-left: 30px !important;
}
.bekrTitr4,
h4 {
  font-family: yekan !important;
  font-size: 20px;
  color: #0000ff;
  font-weight: 600;
  text-indent: 75px;
}
.bekrMatn4 {
  color: black;
  font-weight: 500;
  font-size: 14px;
  text-indent: 20px;
  text-align: justify;
}
.bekrMatn4,
.bekrMargin4 {
  margin-right: 100px !important;
  margin-left: 30px !important;
}
.bekrTitr5 {
  font-family: yekan !important;
  font-size: 18px;
  color: #4169e1;
  font-weight: 600;
  text-indent: 100px;
}
.bekrMatn5 {
  color: black;
  font-weight: 500;
  font-size: 13px;
  text-indent: 20px;
  text-align: justify;
}
.bekrMatn5,
.bekrMargin5 {
  margin-right: 125px !important;
  margin-left: 30px !important;
}
.bekrTitr6 {
  font-family: yekan !important;
  font-size: 15px;
  color: #6495ed;
  font-weight: 600;
  text-indent: 150px;
}
.bekrMatn6 {
  color: black;
  font-weight: 500;
  font-size: 12px;
  text-indent: 20px;
  text-align: justify;
}
.bekrMatn6,
.bekrMargin6 {
  margin-right: 150px !important;
  margin-left: 30px !important;
}

.bekrBullet1 {
  color: teal;
  font-weight: bold;
}

/* bekr styles */
