/* @import url(/common/fonts/bekrWeb/fonts.css); */
/* copy fonts.css here and change fonts url to resolve vitepress public folder warning */
@import url(./fonts.css);

:root {
  /* --vp-layout-max-width: 1440px; */
  /* --vp-sidebar-width: 100px; */
}

body {
  direction: rtl;
}
.ltr {
  direction: ltr;
}
.content {
  justify-content: flex-start !important;
}

.content-container {
  max-width: 100% !important;
}

/* جابجایی ساید بار به سمت راست */
.VPSidebar {
  right: 0 !important;
}
.VPContent.has-sidebar {
  padding-left: calc((100vw - var(--vp-layout-max-width)) / 2) !important;
  padding-right: calc(
    (100vw - var(--vp-layout-max-width)) / 2 + var(--vp-sidebar-width)
  ) !important;
}
.VPSidebar {
  padding-right: calc((100% - (var(--vp-layout-max-width) - 64px)) / 2);
  padding-left: 0 !important;
}
.nav .group {
  width: 100% !important;
}
/* جابجایی ساید بار به سمت راست */
