@font-face {
  font-family: Broya;
  font-style: normal;
  font-weight: normal;
  src: url('./Broya.ttf') format('truetype');
}
@font-face {
  font-family: Bnazanin;
  font-style: normal;
  font-weight: normal;
  src: url('./Bnazanin.ttf') format('truetype');
}
@font-face {
  font-family: IRYekanBold;
  font-style: normal;
  font-weight: normal;
  src: url('./IRYekanBold.ttf') format('truetype');
}
@font-face {
  font-family: Tanha;
  font-style: normal;
  font-weight: normal;
  src: url('./Tanha.woff') format('woff');
}
@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: normal;
  src: url('./Vazir.woff') format('woff');
}
@font-face {
  font-family: Yekan;
  font-style: normal;
  font-weight: normal;
  src: url('./Yekan.woff') format('woff');
}
/** IransSansX **/
@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 900;
  src: url('./IRANSansX-Bold.woff2') format('woff2');
}
@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: bold;
  src: url('./IRANSansX-Bold.woff2') format('woff2');
}
@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: normal;
  src: url('./IRANSansX-Regular.woff2') format('woff2');
}
/** IransSans **/
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 900;
  src: url('./IRANSansWeb_Black.woff2') format('woff2');
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url('./IRANSansWeb_Bold.woff2') format('woff2');
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url('./IRANSansWeb_Medium.woff2') format('woff2');
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url('./IRANSansWeb_Light.woff2') format('woff2');
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src: url('./IRANSansWeb_UltraLight.woff2') format('woff2');
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url('./IRANSansWeb.woff2') format('woff2');
}
/** non English **/
@font-face {
  font-family: IRANSansNonEnglish;
  font-style: normal;
  font-weight: 900;
  src: url('./IRANSansWeb(NoEn)_Black.woff2') format('woff2');
}
@font-face {
  font-family: IRANSansNonEnglish;
  font-style: normal;
  font-weight: bold;
  src: url('./IRANSansWeb(NoEn)_Bold.woff2') format('woff2');
}
@font-face {
  font-family: IRANSansNonEnglish;
  font-style: normal;
  font-weight: 500;
  src: url('./IRANSansWeb(NoEn)_Medium.woff2') format('woff2');
}
@font-face {
  font-family: IRANSansNonEnglish;
  font-style: normal;
  font-weight: 300;
  src: url('./IRANSansWeb(NoEn)_Light.woff2') format('woff2');
}
@font-face {
  font-family: IRANSansNonEnglish;
  font-style: normal;
  font-weight: 200;
  src: url('./IRANSansWeb(NoEn)_UltraLight.woff2') format('woff2');
}
@font-face {
  font-family: IRANSansNonEnglish;
  font-style: normal;
  font-weight: normal;
  src: url('./IRANSansWeb(NoEn).woff2') format('woff2');
}
/** monoSpaced **/
@font-face {
  font-family: IRANSansMonoSpaced;
  font-style: normal;
  font-weight: 900;
  src: url('./IRANSansMonoSpacedNum_Black.woff') format('woff');
}
@font-face {
  font-family: IRANSansMonoSpaced;
  font-style: normal;
  font-weight: bold;
  src: url('./IRANSansMonoSpacedNum_Bold.woff') format('woff');
}
@font-face {
  font-family: IRANSansMonoSpaced;
  font-style: normal;
  font-weight: 500;
  src: url('./IRANSansMonoSpacedNum_Medium.woff') format('woff');
}
@font-face {
  font-family: IRANSansMonoSpaced;
  font-style: normal;
  font-weight: 300;
  src: url('./IRANSansMonoSpacedNum_Light.woff') format('woff');
}
@font-face {
  font-family: IRANSansMonoSpaced;
  font-style: normal;
  font-weight: 200;
  src: url('./IRANSansMonoSpacedNum_UltraLight.woff') format('woff');
}
@font-face {
  font-family: IRANSansMonoSpaced;
  font-style: normal;
  font-weight: normal;
  src: url('./IRANSansMonoSpacedNum.woff') format('woff');
}
/** Fa Num **/
@font-face {
  font-family: IRANSansFaNum;
  font-style: normal;
  font-weight: 900;
  src: url('./IRANSansWeb(FaNum)_Black.woff2') format('woff2');
}
@font-face {
  font-family: IRANSansFaNum;
  font-style: normal;
  font-weight: bold;
  src: url('./IRANSansWeb(FaNum)_Bold.woff2') format('woff2');
}
@font-face {
  font-family: IRANSansFaNum;
  font-style: normal;
  font-weight: 500;
  src: url('./IRANSansWeb(FaNum)_Medium.woff2') format('woff2');
}
@font-face {
  font-family: IRANSansFaNum;
  font-style: normal;
  font-weight: 300;
  src: url('./IRANSansWeb(FaNum)_Light.woff2') format('woff2');
}
@font-face {
  font-family: IRANSansFaNum;
  font-style: normal;
  font-weight: 200;
  src: url('./IRANSansWeb(FaNum)_UltraLight.woff2') format('woff2');
}
@font-face {
  font-family: IRANSansFaNum;
  font-style: normal;
  font-weight: normal;
  src: url('./IRANSansWeb(FaNum).woff2') format('woff2');
}
