@font-face {
  font-family: Broya;
  font-style: normal;
  font-weight: normal;
  src: url('./Broya.ttf') format('truetype');
}
@font-face {
  font-family: Bnazanin;
  font-style: normal;
  font-weight: normal;
  src: url('./Bnazanin.ttf') format('truetype');
}
@font-face {
  font-family: IRYekanBold;
  font-style: normal;
  font-weight: normal;
  src: url('./IRYekanBold.ttf') format('truetype');
}
@font-face {
  font-family: Tanha;
  font-style: normal;
  font-weight: normal;
  src: url('./Tanha.woff') format('woff');
}
@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: normal;
  src: url('./Vazir.woff') format('woff');
}
@font-face {
  font-family: Yekan;
  font-style: normal;
  font-weight: normal;
  src: url('./Yekan.woff') format('woff');
}
/** IransSansX **/
@font-face {
  font-family: IRANSansX900;
  font-style: normal;
  font-weight: 900;
  src: url('./IRANSansX_Bold.woff2') format('woff2');
}
@font-face {
  font-family: IRANSansXBold;
  font-style: normal;
  font-weight: bold;
  src: url('./IRANSansX_Bold.woff2') format('woff2');
}
@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: normal;
  src: url('./IRANSansX_Regular.woff2') format('woff2');
}
/** IransSans **/
@font-face {
  font-family: IRANSans900;
  font-style: normal;
  font-weight: 900;
  src: url('./IRANSansWeb_Black.woff2') format('woff2');
}
@font-face {
  font-family: IRANSansBold;
  font-style: normal;
  font-weight: bold;
  src: url('./IRANSansWeb_Bold.woff2') format('woff2');
}
@font-face {
  font-family: IRANSans500;
  font-style: normal;
  font-weight: 500;
  src: url('./IRANSansWeb_Medium.woff2') format('woff2');
}
@font-face {
  font-family: IRANSans300;
  font-style: normal;
  font-weight: 300;
  src: url('./IRANSansWeb_Light.woff2') format('woff2');
}
@font-face {
  font-family: IRANSans200;
  font-style: normal;
  font-weight: 200;
  src: url('./IRANSansWeb_UltraLight.woff2') format('woff2');
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url('./IRANSansWeb.woff2') format('woff2');
}
/** non English **/
@font-face {
  font-family: IRANSansNonEnglish900;
  font-style: normal;
  font-weight: 900;
  src: url('./IRANSansWeb_NoEn_Black.woff2') format('woff2');
}
@font-face {
  font-family: IRANSansNonEnglishBold;
  font-style: normal;
  font-weight: bold;
  src: url('./IRANSansWeb_NoEn_Bold.woff2') format('woff2');
}
@font-face {
  font-family: IRANSansNonEnglish500;
  font-style: normal;
  font-weight: 500;
  src: url('./IRANSansWeb_NoEn_Medium.woff2') format('woff2');
}
@font-face {
  font-family: IRANSansNonEnglish300;
  font-style: normal;
  font-weight: 300;
  src: url('./IRANSansWeb_NoEn_Light.woff2') format('woff2');
}
@font-face {
  font-family: IRANSansNonEnglish200;
  font-style: normal;
  font-weight: 200;
  src: url('./IRANSansWeb_NoEn_UltraLight.woff2') format('woff2');
}
@font-face {
  font-family: IRANSansNonEnglish;
  font-style: normal;
  font-weight: normal;
  src: url('./IRANSansWeb_NoEn.woff2') format('woff2');
}
/** monoSpaced **/
@font-face {
  font-family: IRANSansMonoSpaced900;
  font-style: normal;
  font-weight: 900;
  src: url('./IRANSansMonoSpacedNum_Black.woff') format('woff');
}
@font-face {
  font-family: IRANSansMonoSpacedBold;
  font-style: normal;
  font-weight: bold;
  src: url('./IRANSansMonoSpacedNum_Bold.woff') format('woff');
}
@font-face {
  font-family: IRANSansMonoSpaced500;
  font-style: normal;
  font-weight: 500;
  src: url('./IRANSansMonoSpacedNum_Medium.woff') format('woff');
}
@font-face {
  font-family: IRANSansMonoSpaced300;
  font-style: normal;
  font-weight: 300;
  src: url('./IRANSansMonoSpacedNum_Light.woff') format('woff');
}
@font-face {
  font-family: IRANSansMonoSpaced200;
  font-style: normal;
  font-weight: 200;
  src: url('./IRANSansMonoSpacedNum_UltraLight.woff') format('woff');
}
@font-face {
  font-family: IRANSansMonoSpaced;
  font-style: normal;
  font-weight: normal;
  src: url('./IRANSansMonoSpacedNum.woff') format('woff');
}
/** Fa Num **/
@font-face {
  font-family: IRANSansFaNum900;
  font-style: normal;
  font-weight: 900;
  src: url('./IRANSansWeb_FaNum_Black.woff2') format('woff2');
}
@font-face {
  font-family: IRANSansFaNumBold;
  font-style: normal;
  font-weight: bold;
  src: url('./IRANSansWeb_FaNum_Bold.woff2') format('woff2');
}
@font-face {
  font-family: IRANSansFaNum500;
  font-style: normal;
  font-weight: 500;
  src: url('./IRANSansWeb_FaNum_Medium.woff2') format('woff2');
}
@font-face {
  font-family: IRANSansFaNum300;
  font-style: normal;
  font-weight: 300;
  src: url('./IRANSansWeb_FaNum_Light.woff2') format('woff2');
}
@font-face {
  font-family: IRANSansFaNum200;
  font-style: normal;
  font-weight: 200;
  src: url('./IRANSansWeb_FaNum_UltraLight.woff2') format('woff2');
}
@font-face {
  font-family: IRANSansFaNum;
  font-style: normal;
  font-weight: normal;
  src: url('./IRANSansWeb_FaNum.woff2') format('woff2');
}
